.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    max-height: 40vh;
    margin-bottom: 6rem;
    cursor: pointer;

    > img {
        width: auto;
        max-height: 40vh;
    }

    > h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0.5rem 0;
    }

    > h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0;
    }

    & + .card {
        margin-top: 1rem;
        margin-bottom: 8rem;
    }

}

@media (min-width: 450px) {
    .card {
        width: 25%;
        margin-bottom: 6rem;
        margin-left: 3rem;
        margin-right: 3rem;

        & + .card {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}