.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    max-height: 40vh;

    > img {
        width: auto;
    }

    > h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0.5rem 0;
    }

    > h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0;
    }

    & + .card {
        margin-top: 2rem;
    }

}