.app {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

.appBar {
    display: flex;
    padding: 1rem;
    justify-content: flex-end;

    > button {
        background-color: transparent;
        border: 0;
    }
}

#title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-left: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

}

#settingBar {
    cursor: pointer;
}

@media (min-width: 450px) {
    .content {
        margin-left: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .app {
        margin: auto;
    }
}