.bodyArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    p {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.05rem;
        line-height: 1.5rem;
        text-indent: 1rem;
    }

    p + p {
        margin-top: 0.5rem;
    }
    #paragrafo1 {
        align-self: flex-start;
    }
}

#thiagoImg {
    width: 72%;
    height: 55vh;
    margin-bottom: 2rem;
    border-radius: 10%;
}

#pedroImg {
    width: 60%;
    height: 70vh;
    margin-top: 2rem;
    border-radius: 10%;
    margin-bottom: 2rem;
}

#arianeImg {
    width: 63%;
    height: 57vh;
    margin-bottom: 2rem;
    border-radius: 10%;
}

#fernandoImg {
    width: 63%;
    height: 57vh;
    margin-bottom: 2rem;
    border-radius: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 500px) {
    #thiagoImg {
        width: 35%;
        height: 45vh;
        border-radius: 10%;
        margin-bottom: 2rem;
    }
    #pedroImg {
        width: 30%;
        height: 56vh;
        border-radius: 10%;
        margin-bottom: 2rem;
    }
    #arianeImg {
        width: 32%;
        height: 57vh;
        margin-bottom: 2rem;
        border-radius: 10%;
    }
    #fernandoImg {
        width: 32%;
        height: 57vh;
        margin-bottom: 2rem;
        border-radius: 10%;
    }
}

